   /* Estilos personalizados para el portafolio */

/*estilos de los titulos*/

h1{
    background-color: rgb(76, 76, 184);
    color: white;
    border-radius: 10px;
    text-align: center;
    height: 60px;
}

h2{
    background-color: rgb(76, 76, 184);
    color: white;
    border-radius: 10px;
    text-align: center;
    height: 60px;
}

/*funcionamiento de los links y sus estilos*/
a {
    display: inline-block; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 12px 16px;
    text-decoration: none;
    color: #007BFF;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #007BFF;
    color: white;
    transition: 1.2s;
}

/* funcionalidad de las imagenes dinamicas */
.scrolls{
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    margin: 0 10em;
    padding: 10px;

}

/* Espaciado de la id perfil */
#perfil{
    list-style:square;
    list-style-position: inside;
    text-align: center;
}

/* Espaciado superior de la clase proyect */

.proyect {
    list-style-position:inside;
    padding-top: 60; 
}
/*definimos una transición suave de 0.5s */
img{
    transition: .5s ease;
    border-radius: 15px;
    

}

/*se expande a un ancho de 650 píxeles cuando el usuario pasa el cursor sobre las imagenes*/
.expand:hover{
    width: 650px;
    flex: 4;
    border-radius: 15px;
}


#contacto {
    text-align: center; /* Centra el texto del título */
}
/*estilo del formulario de los inputs*/
input {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
/*estilo del formulario de mensajeria*/
textarea{
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
/*posicion y ancho del formulario*/
form{
    max-width: 500px; margin: 0 auto;
}
/*estilo del pie de pagina*/
footer{
    background-color: rgb(53, 53, 73);
    color: white;
    text-align: center;
}

/*Adaptar el diseño de la pagina a tablet (768px)*/
@media (max-width: 768px) {
    nav ul {
    flex-direction: column;
    align-items: center;
    }
    .expand{
        width: 400px;
    }
    .expand:hover{
        width: 500px;
    }
}

/*Adaptar el diseño de la pagina a móvil (480px)*/
@media (max-width: 485px) {
.grid-portafolio {
    grid-template-columns: 1fr;
    
    }
    .expand{
        width: 200px;
    }
    .expand:hover{
        width: 300px;
    }
}